@font-face {
  font-family: 'kabi';
  src: local('kabi'), url('./fonts/iCiel-Medium.ttf')format('tr');
  font-weight: normal;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'kabi', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}